/* general settings */
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.clearfix::after {
    display: table;
    content: " ";
    clear: both;
}

img {
    height: 100px;
    float: left;
}

/* header */
header{
    margin: 50px;
}

h1 {
    color: #ff3176;
    text-align: center;
    font-weight: 800;
}

/* main */
section {
    margin: 20px auto;
}

.card-credits {
    width: calc((100%/3) - 40px);
    min-width: 20%;
    background-color: #000022;
    float: left;
    margin: 20px;
}

.text {
    color: aliceblue;
    text-align: left;
    line-height: 33px;
    vertical-align: middle;
    margin-left: 15px;
    float: left;
    min-width: 180px;
}

.email {
    color: #00bfff;
}
