/* general settings */
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.clearfix::after {
    display: table;
    content: " ";
    clear: both;
}

img {
    height: 100px;
    float: left;
}

/* header */
header{
    margin: 50px;
}

h1 {
    color: #ff3176;
    text-align: center;
    font-weight: 800;
}

/* main */
section {
    margin: 20px auto;
}

.card {
    width: calc(100%/3);
    padding: 4px;
    float: left;
}

.card-credits {
    background-color: #000022;
    height: 100px;
    color: aliceblue;
    text-align: left;
}

.text {
    text-align: left;
    line-height: calc(100px/3);
    vertical-align: middle;
}

.email {
    color: #00bfff;
}


/* Settings DEBUG */
.card {
    border: 1px solid black
}

.text {
    border: #ff3176 2px solid;
}